<%- include('../blocks/header', { bot, user, title: "Staff | Discord Bot House", embedding: { default: true } }) %>

<div class="container1 main-bkg" style="margin-left: 3%; margin-right: 3%;margin-top: 5px;margin-bottom: 20px;box-shadow:0 8px 16px 0 rgba(0, 0, 0, 1.2); color: #fff; background-color: #1d1e21;">
<h2 style="padding-top: 20px; margin-left: 3%;color:white">Bots Listed:</h2>
  
  <% for (var i = 0; i < bots.length; i++) { %>
    <div class="staff-bot-card">
      <% const BOT = bot.users.get(bots[i].id); %>
      <% if (BOT) { %>
          <img src="<%= BOT.displayAvatarURL() %>" alt="botimg.png" class="staff-bot-card-image">
          <h2><%= bots[i].name %></h2>
      <% } else { %>
          <img src="https://cdn.discordapp.com/attachments/560865387206672386/560889415472513024/largelogo4.png" alt="botimg" class="staff-bot-card-image">
          <h2><%= bots[i].name %></h2>
      <% } %>
          <a href="/staff/<%= bots[i].id %>" class="staff-bot-card-btn">Edit Bot As Staff</a>
  </div>
  <% } %>

</div>

<!--<div ><center><img  onclick="window.location.href ='/contact'" style="width:728px;height:90px;margin-bottom: 30px" src="https://www.resistivetechnosource.com/images/your_banner_here.png"></center></img></div>-->

<%- include('../blocks/footer') %>
